<nav
  aria-label="Site Nav"
  class="mx-auto flex max-w-3xl items-center justify-between p-4"
>

  <ul class="flex items-center gap-2 text-sm font-medium text-gray-500">
    <li class="hidden lg:block">
      <a class="rounded-lg px-3 py-2" routerLink="/home"> Home </a>
    </li>

    <li><a class="rounded-lg px-3 py-2" routerLink="/page1"> Page 1 </a></li>
    <li><a class="rounded-lg px-3 py-2" routerLink="/page2"> Page 2 </a></li>
    <li><a class="rounded-lg px-3 py-2" routerLink="/page3"> Page 3 </a></li>
    
  </ul>
</nav>

<router-outlet></router-outlet>
